:root {
	--body-font: system-ui, sans-serif;
	--title-font: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
	--background-color: #fff;
	--page-width: 1920px;
}

$bp-small: 768px;