@use "normalize";
@use "variables" as *;
@use "generic";
@use "grid" as *;
@use "utilities";

.page {
	max-width: var(--page-width);
	margin: 0 auto;
}

.top-header {
	padding-top: 1rem;
	padding-bottom: 1rem;

	@media(min-width: $bp-small) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.main-nav {
	margin-top: 1rem;

	@media(min-width: $bp-small) {
		margin-top: 0;
	}

	ul {
		@media(min-width: $bp-small) {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1.5rem;
		}

		font-family: var(--title-font);
		font-size: 1.2rem;
		text-align: center;

		li {
			padding: 0.4rem 0;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

.logo {
	width: 100%;
	max-width: 350px;
	margin: auto;

	@media(min-width: $bp-small) {
		margin: 0;
	}
}

.btn {
	display: inline-block;
	background: #ffdf00;
	border-radius: 55px;
	padding: 0.7rem 2rem;
}

.hero-img,
.hero-video {
	display: block;
	width: 100%;
}

.page-wrap {
	max-width: 1000px;
	margin: 3rem auto;
	padding: 0 30px;
}

.page-hero {
	position: relative;
}

.page-title {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 1rem 2rem 2rem;
	background-color: #14abb3;
	color: white;

	left: calc((100% - 1000px) / 2);

	@media(max-width: 1060px) {
		left: 30px;
	}
}

.content-inline {
	@media(min-width: 800px) {
		float: left;
		margin-right: 2rem;
		margin-bottom: 1rem;
	}
}

.carousel {
	width: 400px;
	position: relative;
	aspect-ratio: 2/3;

	[data-idx] {
		transition: opacity 0.4s ease;
		opacity: 0;
	}
}