@use "normalize";
@use "variables" as *;
@use "generic";
@use "grid" as *;
@use "utilities";

.page {
	max-width: var(--page-width);
	margin: 0 auto;
}

.top-header {
	padding-top: 1rem;
	padding-bottom: 1rem;

	@media(min-width: $bp-small) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.main-nav {
	margin-top: 1rem;

	@media(min-width: $bp-small) {
		margin-top: 0;
	}

	ul {
		@media(min-width: $bp-small) {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
		}

		font-family: var(--title-font);
		font-size: 1.2rem;
		text-align: center;

		li {
			padding: 0.4rem 1rem;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

.logo {
	width: 100%;
	max-width: 350px;
	margin: auto;

	@media(min-width: $bp-small) {
		margin: 0;
	}
}

.btn {
	display: inline-block;
	background: #ffdf00;
	border-radius: 55px;
	padding: 0.7rem 2rem;
	text-decoration: none;
}

.hero-img,
.hero-video {
	display: block;
	width: 100%;
}

.page-wrap {
	max-width: 1000px;
	margin: 3rem auto;
	padding: 0 30px;
}

.page-hero {
	position: relative;
	aspect-ratio: 1000 / 258;

	@media(max-width: 800px) {
		aspect-ratio: 1000 / 500;
	}

	.hero-img {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
		object-position: right center;
	}

	h1 {
		font-size: clamp(1.5rem, 2.6vw, 3rem);
	}
}

.page-title {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 1rem 2rem;
	background-color: #14abb3;
	color: white;

	left: calc((100% - 1000px) / 2);

	@media(max-width: 1060px) {
		left: 30px;
	}
}

.content-inline {
	@media(min-width: 800px) {
		float: left;
		margin-right: 2rem;
		margin-bottom: 1rem;
	}
}

.carousel {
	position: relative;
	aspect-ratio: 2/3;

	@media(min-width: 800px) {
		width: 400px;
	}

	img {
		transition: opacity 0.4s ease;
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
		object-position: center center;
	}
}

.donate-wrap {
	margin-top: 2rem;
}

.main-footer {
	padding: 1rem;
	// background: #333;
	// color: #fff;
	text-align: center;
	font-size: 0.9rem;
}